// tipografias
$raleway:'Raleway', sans-serif;
$merry:'Merriweather', serif;
$roboto:'Roboto', sans-serif;

//weight
$bold:700;
$regular:400;
$light:300;

//font-size
$x-large: 30px;
$large: 24px;
$medium: 20px;
$small: 16px;