.contenido{
    &_list_news{
        display:inline-block;
        width:30%;
    }
    &_h2{
        padding-top: 15%;
    }
}

 //mediaqueries card 
    //phone
    @media (max-width: 599px) {
      .contenido_list_news{
        display:block;
        width:100%;
    }
    .contenido_list_news_img{
        width:100%;
        height: 500px;
    }
    .contenido_h2{
        padding: 8%;
        font-weight: 900;
    }
    }
     //tablet portrait up
      
        @media (min-width: 600px) and (max-width: 899px){
          .contenido_list_news{
            display:block;
            width:100%;
        }
        .contenido_list_news_img{
            width:100%;
            height: 500px;
        }
        .contenido_h2{
            padding: 8%;
        }
    }