//nav
.cont_menu{
    font-family: $merry;
    &_logo{
        font-weight: $bold;
        font-size: $x-large;
    }
    &_item{
        display:inline-block;
        width:30%;
        font-size: $small;
        &_a{
            text-decoration: none;
        } 
    }
}